// variables
$orange: #f9b43b;
$red: #e45028;
$gray: #2f3234;

// fonts
@import "layout/fonts";
@import "layout/normalize.min";
@import "layout/mixins";
@import "layout/adjustment";

// adjustment
@import "sections/header";
@import "sections/about";
@import "sections/burgers";
@import "sections/team";
@import "sections/menu";
@import "sections/comments";
@import "sections/order";
@import "sections/map";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";
