.about {
  background: url("../img/bg/about-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  color: $gray;
  text-align: center;
}

.about__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about__title {
  margin-bottom: 100px;
}

.about__item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.about__icon {
  height: 90px;
  margin-bottom: 30px;
}

.about__item-title {
  font-family: LifehackMedium, sans-serif;
  font-size: 1.5em;
}

.about__decs {
  font-size: 0.875em;
  line-height: 1.8;
}
