.burgers {
  background: $orange;
  background: linear-gradient(to bottom, $orange 0%,#eb8c38 50%,#eb8c38 50%,$orange 75%);
}

.burgers__content {
  @extend .about__content;
}

.burger-slider {
  position: relative;
}

.burgers__slide {
  position: relative;
  padding: 90px 0 80px;
}

.owl-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.owl-prev,
.owl-next {
  width: 30px;
  position: absolute;
  bottom: 270px;
  margin-top: -15px;
  cursor: pointer;
}

.owl-prev {
  transform: rotate(90deg);
  left: -40px;
}

.owl-next {
  transform: rotate(-90deg);
  right: -40px;
}

.burgers__pic {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.burgers__desc {
  width: 47%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.burgers__title {
  margin-bottom: 35px;
}

.burgers__text {
  font-size: 0.875em;
  line-height: 1.7;
  margin: 0 0 25px;
}

.burgers__price {
  font-family: GagalinRegular, sans-serif;
  font-size: 4.5em;
  line-height: 1;
  color: $red;
  display: inline-block;
  vertical-align: sub;
  margin-right: 30px;
}

.burgers__price-currency {
  font-size: 1.875rem;
  margin-left: -15px;
}

.burgers__calorie {
  font-family: GagalinRegular, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  background: url("../img/icons/kkal.svg") no-repeat;
  position: absolute;
  bottom: 0;
  width: 62px;
  padding-top: 26px;
  text-align: center;
  opacity: .6;
}

.burgers__calorie-unit {
  font-size: 0.875rem;
}

.burgers__composition {
  border-radius: 5px;
  background: url("../img/icons/burger.svg") center 14px no-repeat;
  background-color: transparentize($red, .6);
  position: absolute;
  outline: none;
  top: 0;
  left: 0;
  border: none;
  width: 90px;
  height: 90px;
  @include trs();

  &:hover {
    background-color: $red;
  }

  &:hover .burgers__ingredients-list {
    width: 270px;
    padding: 15px 20px;
  }
}

.burgers__ingredients {
  text-align: center;
  font-family: GagalinRegular, sans-serif;
  font-size: 0.875rem;
  padding-top: 63px;
}

.burgers__ingredients-list {
  border-radius: 5px;
  background-color: transparentize(white, .1);
  position: absolute;
  top: 0px;
  left: 90px;
  width: 0;
  color: $gray;
  font-size: 0.875rem;
  padding: 15px 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: auto;
  @include trs();
}

.burgers__ingredients-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.burgers__ingredients-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin-right: 20px;
  text-align: center;
}

.burgers__ingredients-name {
  font-family: UbuntuMedium, sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  margin-right: 50px;
  text-align: left;
}

.burgers__ingredients-weight {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  min-width: 40px;
}
